@import "tailwindcss";

@theme {
  --color-bg: #273338;

  --color-fg: #2B5748;
  --color-fg-dark: #2f4a41;

  --color-hl-light: #85ab88;
  --color-hl: #618764;
  --color-hl-dark: #4c6e4e;

  --color-txt: #9CB080;

  --background-image-gr-red: linear-gradient(90deg, #89216B 0%, #DA4453 100%);
  --background-image-gr-green: linear-gradient(90deg, #56ab2f 0%, #a8e063 100%);
  --background-image-gr-blue: linear-gradient(90deg, #004680 0%, #4484BA 100%);
  --background-image-gr-yellow: linear-gradient(90deg, #CAC531 0%, #F3F9A7 100%);
}